.itemconfiguration
{
		height:440px;
		width:250px;
		/* background-color:#CCC; */
        overflow-y:auto;
		float:left;
		position:relative;
		margin-left:-5px;
}
.left_contentlist{
width:250px;
float:left;
padding:0 0 0 5px;
position:relative;
float:left;
border-right: 1px #f8f7f3 solid;
/* background-image:url(images/bubble.png); */
/* backgrou
